

.photo {
  width: 100px;
  height: 100px;
  border-radius: 15%;

}

.selectedPage {
  font-weight: bold;
}

.preloader {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  background: transparent;
}