.header {
  grid-area: h;
  background-color: yellow;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  grid-column: 1/3;
  gap: 20px; */
}

.header img {
  width: 50px;
}

.loginBlock {
  padding: 10px 10px 0px 0px;
  float: right;
  /* font-weight: bold;
  font-size: 14px;
  border-radius: 30px;
  width: 100px;
  height: 55px;
  margin-right: 15px;
  cursor: pointer;
  background-color: #1da1f2; */
}

.loginBlock a {
  color: lightskyblue;
  text-decoration: none;
}