.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  width: 200px;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

/* .dialog {

} */

.messages {
  padding: 10px;
}

/* .message {

} */

.button {
  height: 20px;
  width: 50px;
  border-radius: 10px;
}